*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3RhciUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D) no-repeat;
    /* background-size: 20%;\ */
    background-size: max(2200px,100%);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    color: white;
    background: linear-gradient(135deg , rgba(255, 255, 255, 0.006) , rgba(128, 128, 128, 0.01));
    backdrop-filter: blur(3.5px);
    /* -webkit-backdrop-filter: blur(10px); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    /* box-shadow: 10px 8px 32px 0 rgba(128, 128, 128, 0.01); */
    /* box-shadow: 10px 8px 32px rgba(0, 0, 0, 0.1); */
}

.choosePage h1{
    margin-bottom: max(3vh , 10px);
    text-align: center;
}

.choosePage {
    transition: 0.3s;
    margin: max(3vw , 10px);
}

.container {
    width: max-content;
    height: max-content;
}

form select {
    width: max(130px,30vw);
    height: max(20px,4vh);
    border-radius: 10px;
    margin: 5px 0 10px 0;
}

form button{
    background-color: #0BDA51;
    padding: max(1vh , 5px) max(3vw , 10px);
    border-radius: 10px;
    transition: 0.3s;
    border: none;
    text-align: center;
}

form button:hover {
    color: white;
    background-color: #07ab3d;
}

.moveAnimation {
    animation: movingAnimation 0.5s linear forwards;
}

.loader{
    width: 100px;
    position: absolute;
    top: 50%;
    margin-left: 42%;
    opacity: 0;
    transition: 0.3s;
}

.quizQuestions {
    position: absolute;
    left: 90%;
    top: 0;
    opacity: 0;
    margin: max(3vw , 10px);
}

.eachQuestion{
    height: 12.5em;
    overflow-y: auto;
}

.nextQuestion{
    margin-top: 5px;
    padding: max(1vh , 5px) max(3vw , 10px);
    border-radius: 10px;
    background-color: #00BFFF;
    border: none;
    transition: 0.3s;
    text-align: center;
}

.nextQuestion:hover {
    color: white;
    background-color: #1E90FF;
}

.quizQuestions h2 {
    margin-bottom: max(3vh , 10px);
}

.quizQuestions label , .quizQuestions input {
    margin: 5px 0 20px 0;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

@keyframes movingAnimation {
    0%{
        left: 90%;
        opacity: 0;
    }
    50%{
        left: 50%;
        opacity: 0.5;
    }
    100%{
        left: 0%;
        opacity: 1;
    }
}

@media screen and (min-height: 320px) {
    .eachQuestion{
        height: 13em;
    }
}
@media screen and (min-height: 540px) {
    .eachQuestion{
        height: 14em;
    }
}
@media screen and (min-height: 630px) {
    .eachQuestion{
        height: 15em;
    }
}
@media screen and (min-height: 715px) {
    .eachQuestion{
        height: 16em;
    }
}
@media screen and (min-height: 820px) {
    .eachQuestion{
        height: 17em;
    }
}
@media screen and (min-height: 920px) {
    .eachQuestion{
        height: 18em;
    }
}
@media screen and (min-height: 1000px) {
    .eachQuestion{
        height: 19em;
    }
}